
/*** #app ***/

#app .navbar {
  margin-bottom: 50px;
}

#app .main-container {
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*max-width: 600px;*/
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/

  color: hsl(0, 0%, 40%);
}

#app .center {
  margin-left: auto;
  margin-right: auto;
}

#app .form-control:focus, .form-control.focus,
#app .btn:focus, .btn.focus,
#app .btn-default:focus, .btn-default.focus,
#app .btn-primary:focus, .btn-primary.focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px hsla(56, 100%, 45%, .6);
  border-color: hsla(56, 100%, 45%, 1);
  outline: 0;
}


/*** .navbar ***/

.navbar-version {
    float: left;
    height: 50px;
    padding: 15px 0;
    line-height: 20px;
    opacity: 0.65;
}


/*** .restart ***/

.restart {
  /*float: right;*/
  /*height: 50px;*/
 /* line-height: 50px;*/
}

.restart form {
  /*margin: 0;*/
  /*padding: 0;*/
}

.navbar-default .restart .navbar-form {
  border: 0;
  margin-top: 11px;
  margin-bottom: 11px;
}

.restart input,
.restart button {
  height: 28px;
}

.restart button {
  line-height: revert;
}

.restart .btn .glyphicon {
  font-size: 10px;
}

.restart .navbar-form .input-group {
  width: 110px;
}

.restart .navbar-form .input-group > .form-control {
  /*width: 48px;*/
}

.restart .navbar-form .form-group {
  margin-right: 15px;
}

.restart .navbar-form .control-label {
  margin-right: 5px;
  font-weight: normal;
}

.restart .input-group-btn button {
  padding: 6px 8px;
}

.restart button[type='submit'] {
  /*background-color: #ecec00;*/
  /*border-color: #dddd00;*/
}

.restart button[type='submit']:hover,
.restart button[type='submit']:focus,
.restart button[type='submit']:active {
  /*background-color: #dddd00;*/
  /*border-color: #cdcd00;*/
}


/*** .state ***/

.state {
  height: 32.5em;   /* (12 + 1 de marge) * 2.5 */
}

.state table {
  table-layout: fixed;
  width: unset;
  color: hsl(0, 0%, 40%);
}

.state table tr {
  border-top: 1px solid #ddd;
}

.state table tr td {
  line-height: 1.4em;
  vertical-align: middle;
  /*display: table-cell;*/
}

.state td,
.state th {
  text-align: center;
  font-weight: normal;
  font-size: 14px;   /* from .btn */
  /*height: 2.5em;*/
}

.state th:first-child {
  width: 1em;
  text-align: right;
  padding-right: 2em;
  border-top: none;
  line-height: 1.4em;
}

.state tfoot {
  border-top: 2px solid #ccc;
}

.state table tfoot tr,
.state table tfoot tr td {
  border: none;
}

.state tfoot td.set-throwing {
  border-top: none;
  padding-top: 2px;
  padding-bottom: 14px;   /* .table td { padding: 8px; } */
}

.state td,
.state th.hand-text,
.state th.set-throwing {
  box-sizing: content-box;
  width: 4.5em;
}

.state .hand.text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.state .ball {
  display: inline-block;
  margin: 2px;
}

.state .clickable:not(.circle) {
  border-radius: 4px;
}

.state .clickable.circle {

}

.state .clickable {
  cursor: pointer;
}

.state .clickable[disabled] {
  cursor: not-allowed;
}

.state .btn {
  /*height: 2.8em;*/
  border: unset;
  white-space: unset;
  background-color: unset;
}

/*.state .btn.active,*/
.state .btn:active,
.state .btn.hover,
.state .btn:hover {
  color: unset;
  background-color: unset;
  /*border-color: #ddd;*/
  border-color: hsl(0, 0%, 87%)
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    /*filter: alpha(opacity=65);*/
    /*-webkit-box-shadow: none;*/
    box-shadow: none;
    /*opacity: .65;*/
}

.btn:active, .btn.active {
    /*background-image: none;*/
    outline: 0;
    /*-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);*/
    /*box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);*/
}

.btn-default,
.btn-default:hover {
    color: hsl(0, 0%, 40%);
}

.btn {
    /*display: inline-block;*/
    /*padding: 6px 12px;*/
    margin-bottom: 0;
    /*font-size: 14px;*/
    /*font-weight: normal;*/
    /*line-height: 1.42857143;*/
    /*text-align: center;*/
    /*white-space: nowrap;*/
    /*vertical-align: middle;*/
    /*-ms-touch-action: manipulation;*/
    /*touch-action: manipulation;*/
    cursor: pointer;
    /*-webkit-user-select: none;*/
    -moz-user-select: none;
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    background-image: none;
    /*border: 1px solid transparent;*/
    border-radius: 4px;
}

/*.state .air.active,*/
.state .air.clickable:active:not([disabled]),
.state .hand.balls.selected,
.state .hand.balls.hover,
.state .hand.balls:hover,
.state .set-throwing.hand:hover {
  -webkit-box-shadow: inset 0.5px 1.5px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0.5px 1.5px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0.5px 1.5px 10px 0px rgba(0, 0, 0, 0.1);
}

.state .hand.balls.hover[disabled],
.state .hand.balls:hover[disabled],
.state .set-throwing.hand:hover[disabled] {
  /*opacity: .65;*/
  -webkit-box-shadow: inset 0.5px 1.5px 12px 0px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: inset 0.5px 1.5px 12px 0px rgba(0, 0, 0, 0.065);
  box-shadow: inset 0.5px 1.5px 10px 0px rgba(0, 0, 0, 0.065); 
}

.state .hand.text.hover[disabled],
.state .hand.text:hover[disabled] {
  color: hsl(0, 0%, 40%);
}

/*.state .btn.hand.text.active,*/
.state .btn.hand.text:active {
  box-shadow: unset;
}

.state .hand.text.selected,
.state .hand.text.to-cancel {
  font-weight: bold;
}

/*.state .air:not([disabled]):hover .ball.to-add,*/
/*.state .hand:not([disabled]).hover .selected.ball,*/
.state .air:not(.no-drop):hover .ball.to-add,
.state .hand:not([disabled]).hover .ball.to-select,
.state .hand .ball.to-cancel,
.state .air .ball.from-throw {
  /*background-color: #1e97ff;*/
  /*background-color: #ecec00;*/
  background-color: hsla(56, 100%, 50%, 1);
}

.state .selected.hand .selected.ball {
  background-color: hsla(56, 100%, 45%, 1);
}

.state .ball.to-throw:not(.to-cancel),
.state .air.no-drop .ball.from-throw:hover {
  /*opacity: .65;*/ /* from bootstrap disabled */
  background-color: #666;
  opacity: .2;
}

.state .air[disabled],
.state .hand[disabled] {
  opacity: 1;
  box-shadow: none;
}

.state .air .ball.to-add {
  visibility: hidden;
  display: none;
}

/*.state .air:not([disabled]):hover .ball.to-add,*/
.state .air:not(.no-drop):hover .ball.to-add {
  visibility: visible;
  display: inline-block;
  /*width: unset;*/
  /*background-color: #1e97ff;*/
  /*background-color: #ecec00;*/
  background-color: hsla(56, 100%, 45%, 1);
}

/*.state .selected.hand.text,*/
/*.state .hand.text:not([disabled]).hover,*/
.state .set-throwing:not(.throwing-hand):hover .glyphicon {
  /*color: #2e6da4;*/
  /*color: #1e97ff;*/
  /*color: #ecec00;*/
  color: hsla(56, 100%, 45%, 1);
}

.state .set-throwing.current-hand:not(.throwing-hand):not(:hover) .glyphicon {
  opacity: .2;
}

.state .set-throwing:not(.current-hand):not(.throwing-hand) .glyphicon {
  visibility: hidden;
}

.state .set-throwing:hover .glyphicon {
  /*visibility: visible;*/

}


/***  ***/

.input-bock .form-group {
  display: inline-block
}

.input-block table tbody tr th {
  width: 7em;
  border: unset;
}

.input-block table tbody tr td {
  border: unset;
}

.input-block table.history button {
  top: -3px;
}

.input-block h4 {
  font-size: 16px;
  color: hsla(0%, 0%, 40%, 1);
}

.input-block .history h4 {
  display: inline-block;
  margin-right: 2em;
}

.input-block .siteswap,
.input-block .siteswap .list-group-item {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #666;
  /*background-color: rgba(236, 236, 0, 0.4);*/   /* #ecec00 + opacity: 0.4 */
  /*border-color: rgba(221, 221, 0, 0.4);*/       /* #dddd00 + opacity: 0.4 */
  word-break: keep-all;
  background-color: hsla(56, 100%, 50%, .2);
  border-color: hsla(56, 100%, 45%, 1);
}

.input-block .siteswap, .panel {
  border: 0;
}

.form-line {
  display: flex;
}

.form-line .has-feedback {
  flex: 1;
  display: flex;
}

.form-horizontal .has-feedback .form-control-feedback {
  right: 0;
}

.input {
  flex: 1;
}

.throw-input button {
  margin-left: 15px;
}

.throw-input #throw {
  /*margin: 0 15px;*/
  /*background-color: #1e97ff;*/
  /*border-color: #1e97ff;*/

  /* TODO: copy to siteswap zone with opacity: 0.4 + balls + grey like button disabled */
  /* + .btn-default color: #666; */
  color: hsla(0, 0%, 40%, 1);
  /*background-color: #ecec00;
  border-color: #dddd00;*/
  background-color: hsla(56, 100%, 50%, 1);
  border-color: hsla(56, 100%, 45%, 1);
}

.throw-input #throw:hover,
.throw-input #throw:focus,
.throw-input #throw:active {
/*  background-color: #337ab7;
  border-color: #2e6da4;
  background-color: rgba(51, 122, 183, 1);
  border-color: rgba(46, 109, 164, 1);
  background-color: #286090;
  border-color: #204d74;
  background-color: rgba(40, 96, 144, 1);
  border-color: rgba(32, 77, 116, 1);*/
  /*background-color: #dddd00;
  border-color: #cdcd00;*/
  background-color: hsla(56, 100%, 40%, 1);
  border-color: hsla(56, 100%, 35%, 1);
}

.error {
  color: red;
}

.circle{
  /*width: 10px;*/   /* from .btn font-size: 14px; */
  /*height: 10px;*/
  border-radius: 50%;
  background: #666;
  /*line-height: 1em;*/
  /*font-size: 20px;*/
  /*color: #fff;*/
  /*text-align: center;*/
  /*text-align: center;*/
  /*vertical-align: middle;*/
  width: 15px;
  height: 15px;
}

/*.circle:hover .cross1,
.circle:hover .cross2 {
  height: 1px;
  width: 1.1em;
  position: relative;
  background-color: #666;
}

.circle:hover .cross1 {
  top: 0.5em;
  transform: rotate(45deg);
}

.circle:hover .cross2 {
  top: 40%;
  transform: rotate(-45deg);
}*/

.btn .glyphicon {
  top: 0;
}

.btn .glyphicon.glyphicon-ball {   /* from .glyphicon */
  /*top: 1px;*/
}

@-moz-document url-prefix() { 
  .btn .glyphicon.glyphicon-ball {
    top: -4px;
  }
}

.glyphicon.glyphicon-ball:before {
  content: "\25cf";
  font-size: 1.7em;
  line-height: 0.55em;
  /*position: relative;*/
  /*top: -0.255em;*/
}

.glyphicon.glyphicon-triangle-top {
  font-size: 0.8em;
}

